@import "../mixins";

.services {
  padding: 120px 0;
  width: 100%;
  height: 100%;
  background-image: url("/icons/imageBackServices.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include tablet {
    padding: 80px 0;
  }

  .containerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    .titleHeader {
      font-size: var(--fs-xl);
      font-family: var(--interSemiBold);
      color: var(--primary);
    }

    .contentHeader {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      text-align: center;

      .title {
        font-size: var(--fs-5xl);
        color: var(--secondary);
        font-family: var(--interBold);
        margin: 0;
        font-style: normal;
        line-height: 132%;
        max-width: 800px;

        @include mobile {
          font-size: var(--fs-3xl);
        }
      }
      .description {
        font-size: var(--fs-md);
        color: var(--black);
        font-family: var(--interRegular);
        font-style: normal;
        line-height: 130%;
        margin: 0;
        text-align: center;
        max-width: 500px;

        @include mobile {
          font-size: var(--fs-sm);
          line-height: normal;
        }
      }
    }
  }

  .contentBody {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 48px;

    @include tablet {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    .card {
      border-radius: 20px; /* Rounded corners */
      padding: 20px;
      width: 100%;
      max-width: 398px; /* Fixed width */
      box-sizing: border-box; /* Include padding in width */
      transition: transform 0.3s; /* Smooth transform on hover */
      padding: 20px; /* Espaciado interno para el texto y otros contenidos */
      border: 3px solid var(--secondary);
      display: flex;
      flex-direction: column;
      gap: 12px;

      @include mobile {
        width: 100%;
      }

      &:hover {
        background-color: var(--secondary); /* Darken the background */
        color: var(--white); /* Lighten the text color */
      }

      h1 {
        font-size: 26px;
        margin: 0;
      }

      p {
        font-size: 14px;
        line-height: 1.6;
        margin: 0;
      }

      a {
        color: var(--primary); // Orange color for the link
        text-decoration: none; // No underline
        font-weight: bold; // Make it bold
      }

      &.highlighted {
        background: #004c4c; // Dark teal background for the highlighted card
        color: var(--white); // White text for the highlighted card
        a {
          color: var(--white); // Orange color for the link
          text-decoration: none; // No underline
          font-weight: bold; // Make it bold
        }
      }
    }
  }
}
