@import "./mixins";

.footer {
  background-color: var(--secondary);
  position: relative;

  .topFooter {
    display: flex;
    gap: 141px;

    .brand {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 120px;
        }
      }

      .brandDescription {
        color: var(--white);
        font-size: var(--fs-md);
        font-family: var(--interMedium);
        width: 100%;
        max-width: 280px;
        margin: 0;
      }
    }

    .containerBoxLinks {
      display: flex;
      gap: 90px;

      .boxLinks {
        .titleLinks {
          font-size: var(--fs-lg);
          font-family: var(--interSemiBold);
          color: #fff;
          margin: 0;
          margin-bottom: 15px;
        }

        .links {
          padding: 0;
          list-style: none;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .link {
            font-size: var(--fs-md);
            font-family: var(--interRegular);
            color: var(--colorLink);
            margin: 0;
            padding: 0;
            cursor: pointer;

            &:hover {
              color: var(--white);
            }
          }
        }
      }
    }

    .containerBoxLinksContact {
    }
  }

  .br {
    width: 100%;
    height: 1px;
    color: var(--brColor);
    position: absolute;
    top: 10px;
    left: 0;
  }
}
