@font-face {
  font-family: "Inter-Light";
  src: local("Inter-Light"),
    url(../../public/fonts/Inter-Light.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url(../../public/fonts/Inter-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium"),
    url(../../public/fonts/Inter-Medium.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url(../../public/fonts/Inter-SemiBold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"),
    url(../../public/fonts/Inter-Bold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: local("Inter-Bold"),
    url(../../public/fonts/Inter-ExtraBold.woff) format("woff");
  font-display: swap;
}

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

:root {
  --interRegular: "Inter-Regular", system-ui, sans-serif;
  --interSemiBold: "Inter-SemiBold", system-ui, sans-serif;
  --interMedium: "Inter-Medium", system-ui, sans-serif;
  --interLight: "Inter-Light", system-ui, sans-serif;
  --interBold: "Inter-Bold", system-ui, sans-serif;
  --interExtraBold: "Inter-ExtraBold", system-ui, sans-serif;

  --primary: #ff9b24;
  --secondary: #003e44;
  --secondaryLight: #008290;
  --white: #fff;
  --black: #000;
  --gray: #dfdfdf;
  --purpure: #8b4dfc;
}

html,
body {
  font-family: var(--interRegular);
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // Estilos para dispositivos pequeños (sm) y mayores
  @media (min-width: $breakpoint-sm) {
    max-width: 540px;
  }

  // Estilos para dispositivos medianos (md) y mayores
  @media (min-width: $breakpoint-md) {
    max-width: 720px;
  }

  // Estilos para dispositivos grandes (lg) y mayores
  @media (min-width: $breakpoint-lg) {
    max-width: 960px;
  }

  // Estilos para dispositivos extra grandes (xl) y mayores
  @media (min-width: $breakpoint-xl) {
    max-width: 1380px;
  }
}

button {
  font-family: var(--interRegular);
  background-color: transparent;
  outline: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
